@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-green-100: #115300;
  --color-green-200: #156501;
  --color-green-300: #197a01;
  --color-green-400: #22a400;
  --color-green-500: #30b10f;
  --color-green-800: #a4fa8e;
  --color-green-900: #dffdd7;
  --color-red-200: #7f0101;
  --color-red-500: #d80000;
  --color-red-900: #ffdfdf;

  --color-blue-500: #0f25b1;
  --radius-base: 4px;
}

a {
  color: var(--color-green-500);
  text-decoration: underline;
  cursor: pointer;
}
